body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

}

.face {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-face {
    transform: rotateY(180deg);
}

.girar-back-face {
    transform: rotateY(0deg);
}

.girar-front-face {
    transform: rotateY(-180deg);
}

.back {
    width: 100px;
    height: 100px;
}

.front {
    width: 100px;
    height: 100px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

.container-de-cartas {
    width: 50%;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
}

@media (max-width: 629px) {
    .container-de-cartas {
        flex-direction: column;
        height: auto;
        width: 30%;
    }

    h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .carta {
        margin-bottom: 34px;
    }
}